@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --cor1: #1C5924;
    --cor2: #3D6342;
    --cor3: #37B047;
    --cor4: #46E35B;
    --cor5: #8DE899;
}
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-image: url(../img/Criação-do-site-do-grupo-de-rpg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}
header.pag1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c5924b8;
}
header.pag1 nav a{
    color: white;
    font-family: 'Cinzel', serif;
    margin-left: 30px;
    padding: 10px;
    border-radius: 20px;
    }
header.pag1 nav a:hover{
    text-decoration: underline;
    background-color: #37b04780;
    color: var(--cor5);
    transition: .5s ease;
}
header.pag1 img.logo{
    width: 150px;
}
/* cabeçalho ^^ conteudo vv*/
main.conteudo1{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    /* height: 83.6vh; */
    height: calc(100vh - 152.496px); /*não esquecer de somar a altura do header e footer para calcular a altura da main*/
}
main.conteudo1 img.ficha{
    border: 5px solid #ddd;
    border-radius: 4px;
    transform: rotate(5deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.74);
}
article.texto1{
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 1em;
    width: 500px;
}
.sotexto{
    background-color: rgba(0, 0, 0, 0.253);
    padding: 10px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.377);
}
h1.bagual{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin-bottom: 25px;
}
p.dojogo{
    text-indent: 10px;
    text-align: justify;
}
/* rodapé vv */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c5924b8;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 1em;
    height: 60px;

}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: underline;
}

/* A SEGIR É O MODO RESPONSIVO */

@media (max-width: 1246px) {
   header.pag1{
    background-color: var(--cor1);
   }
   main.conteudo1 ims.ficha{
    flex-wrap: wrap;
   }
}